.clear-button {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1 1; /*propiedad 1 1, mismo ancho y misma altura del  boton*/
  justify-content: center;
  align-items: center;
  font-weigth: bold;
  font-size: 38px;
  background-color: var(--bg-color-clear-button);
  color: var(--color-clear-button);
  border-radius: 25px;
  border: 3px solid #fff;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.clear-button:hover {
  background-color: var(--bg-color-clear-button-hover);
  border: 3px solid #000;
}
