.button-container, .clear-button {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: var(--bg-color-calculator-button);
  color: var(--color-calculator-button);
  border-radius: 20px;
  border: 3px solid #fff;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.button-container:hover, .clear-button:hover {
  border: 3px solid #000;
}

.operator {
  background-color: var(--bg-color-calculator-operator);
}

.operator:hover {
  background-color: var(--bg-color-calculator-button-operator-hover);
  border: 3px solid #000;
}

@media (max-width: 768px) {
  .button-container, .clear-button {
    font-size: 28px;
    height: 60px;
  }
}

